@charset "UTF-8";

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

input{ vertical-align: baseline; }

.main_signin{ margin: 0 auto; }

/* css 기본 설정 */
*{ margin : 0; padding: 0; font-family: 'SDSamliphopangche_Outline'; }
a{ text-decoration: none; color: black; }
li{ list-style-type: none; }

/* 페이지 실제 사이즈 */
.box{ width: 1200px; height: 70%; margin: 0 auto; position: relative; }


/* ----------------- 본문 ----------------- */
section{margin: 0 auto;height: 660px;}

.wrap{
	width: 100%;
	height: 100%;
	text-align: center;
	background-position-y: -100px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/mamin/img/main/뉴욕.png');
	padding-top: 150px;
}



/* 이중선 */
.container{ 
	width: 450px; height: 340px;
	border: solid 2px white;		/* 안쪽 테두리 */
	border-radius: 6px;
	outline: 2px solid #F85F73;		/* 바깥 테두리 */
	outline-offset: 4px;			/* 안쪽 테두리와 바깥 테두리의 간격 */
	
	padding: 0.875rem;
	margin-bottom: 4rem;
	position: relative;				/* 로고 배치하기 위해서 */
	
	background-color: #FBE8D3;
	margin: 0 auto;
	
	box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);		/* 떠있는 느낌을 주기 위한 그림자 효과 */
}
section .wrap .container{
	max-width: 450px;
}

.content_box{
	width: 300px; height: 200px; margin: 0 auto; margin-top: 50px;
}

#signin_input1{ height: 50px; margin-bottom: 15px; }
#signin_input2{ height: 50px; margin-bottom: 15px; }


.input_field{ height: 80px; }
#signin_id, #signin_pw{ width: 100%; height: 50px; }

.option_box{ display: flex; justify-content: space-between; margin-bottom: 30px; }
.option1{ display: flex; }
.option1 input{ margin-right: 5px; }


.loginbtn{ 
	width: 100%; height:45px; font-weight:bold; color: #F85F73;
	border: 1px solid #F85F73; border-radius: 7px;
}
.loginbtn:hover {
	color: #FBE8D3;
	background-color: #F85F73;
}