@charset "UTF-8";

*{ font-family: 'SDSamliphopangche_Outline'; }

.webbox{
	padding-top: 20px;
}

.mypageform{				/* form */
	width: 750px;			/* 가로사이즈 */
	margin: 0 auto;			/* 박스권 가운데 정렬 */
}

.mypagetable{				/* table */
	width: 100%;
	border-top: black 2px solid; border-collapse: collapse;
	border-bottom: black 2px solid;
}

.mypagetable input:not(.characterbtn){			/* table 안에 있는 input */
	width: 100%; height:35px; 
	border: #d8d8d8 1px solid; padding-left: 15px;
}

.mypagetable td{			/* table td */
	border-bottom: #d8d8d8 1px solid;
	padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.col1{ width: 20%; background-color: #283C63; color: white; }
.col2{ width: 50%; color: black; }
.col3{ width: 30%; }

.col2 img{ width: 250px; }
.cimg {
	margin-top: 40px;
}

.mypagebtnbox{
	display: flex;			/* 균등배치를 위해서 */
	justify-content: center;
}

.mypagebtnbox button{
	width: 150px; margin: 35px 10px;
	padding: 10px;
	border: none;
}

.mypagebtnbox button:nth-child(1){		/* 첫번째 버튼 */
	background-color: #FBE8D3;
	color: #F85F73;
}
.mypagebtnbox button:nth-child(1):hover {		/* 첫번째 버튼 */
	background-color: #F85F73;
	color: #FBE8D3;
}
.mypagebtnbox button:nth-child(2){		/* 두번째 버튼 */
	background-color: #F85F73;
	color: #FBE8D3;
}
.mypagebtnbox button:nth-child(2):hover {		/* 두번째 버튼 */
	background-color: #FBE8D3;
	color: #F85F73;
}

/* 비아 - 캐릭터 선택 [육각형] */
.wrapper {
	width: 100%;
	flex-wrap: wrap;
}
.hexwrap{
	margin-bottom: 20px;
}
.hex {
	width: 64%;
	margin-bottom: 1.8%;
	position: relative;
	visibility: hidden;
}

.hex::after {
	content: '';
	display: block;
	padding-bottom: 80%;
}

.hex-inner {
	position: absolute;
	width: 99%;
	padding-bottom: 114.6%;
	overflow: hidden;
	visibility: hidden;
	transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hex-inner * {
	position: absolute;
	visibility: visible;
}

.content {
	display: flex;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
	background: #FBE8D3;
	justify-content: center;
	align-items: center;
}

.hex img {
	position: absoulte;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}